@model IEnumerable<EasyGamesProject.Models.ShopStock>

@{
    ViewData["Title"] = "Index";
}

<h1>Shop Stocks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShopStockId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShopStockId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShopStockId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
