@model EasyGamesProject.Models.Shop

@{
    ViewData["Title"] = "Details";
}

<h1>Shop Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Location)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Location)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Proprietor)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Proprietor.Email)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ShopId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
